# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter notebook checkpoints
.ipynb_checkpoints/
accelerated_analytics.ipynb

# macOS metadata
.DS_Store

# Virtual environments
venv/
.env

# Editor files
*.swp
*.swo
